<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>KQ4JCYSACP</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>jp.fg.precatus</key>
		<string>225abe5b-bdb0-4bdc-9061-c2bd12a0558e</string>
	</dict>
	<key>signingCertificate</key>
	<string>iOS Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>uploadBitcode</key>
	<false/>
	<key>compileBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
